:root {
    --color-white: #FFFFFF;

    /* Figma name: Сайт 1 Цвета/Осн. цвета/Черный */
    --color-dark: #1F1E1E;

    /* Figma name: Сайт 1 Цвета/Доп. цвета/Заливка header */
    --color-background-header: #DEDEDE80;
    
    /* Figma name: Сайт 1 Цвета/Доп. цвета/Красный hover */
    --color-red-hover: #A51505;
}